* {
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif;
}

.elipse {
    position: absolute;
    border-radius: 50%;
    width: 114px;
    height: 114px;
    left: 4%;
    top: 50px;
    background-color: #B274E2;
    cursor: pointer;
}

.logo p:first-child {
    position: absolute;
    width: 94px;
    height: 42px;
    left: 7.5%;
    top: 85px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: white;
    cursor: pointer;
}

.logo p:last-child {
    position: absolute;
    width: 94px;
    height: 42px;
    left: 10.4%;
    top: 85px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #B274E2;
    cursor: pointer;
}

.logo p2:hover {
    color: white;
}


.tab-panels ul {
    position: absolute;
    top: 10%;
    left: 40%;
}

.tab-panels ul li {
    color: white;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    width: 120px;
    padding: 1em 0;
    display: inline-block;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}


.tab-panels ul li:hover {
    color: red;
}

.tab-panels ul li.actives{
    color: red;
}

.tab-panels .panel {
    display: none;
}

.tab-panels .panel.actives{
 display: block;
}

.line {
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

li:nth-child(1):hover~.line {
    transition: all 0.4s ease-in-out;
    background-color: red;
}

li:nth-child(2):hover~.line {
    transform: translate(125px);
    transition: all 0.4s ease-in-out;
    background-color: red;
}

li:nth-child(3):hover~.line {
    transform: translate(250px);
    transition: all 0.4s ease-in-out;
    background-color: red;
}


li:nth-child(1).actives~.line {
    transition: all 0.4s ease-in-out;
    background-color: red;
}

li:nth-child(2).actives~.line {
    transform: translate(125px);
    transition: all 0.4s ease-in-out;
    background-color: red;
}

li:nth-child(3).actives~.line {
    transform: translate(250px);
    transition: all 0.4s ease-in-out;
    background-color: red;
}


/* slide-show------------------------------------------------- */
.slideshow-container {
    float: right;
    max-width: 550px;
    z-index: 1;
}

.mySlides img {
    border-radius: 500px 0 0 500px;
    height: 985px;
    width: 550px;
    float: right;
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    background-color: rgba(255, 255, 255, 0.2);
    color: red;
    font-weight: bold;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.mySlides .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next:hover,
.prev:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.slide-show,
.dot {
    position: absolute;
    bottom: 80px;
    right: 60px;
}

.dot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 9px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    text-align: right;
    display: inline-block;
    transition: border 0.6s ease;
}

.dot:hover {
    cursor: pointer;
    background-color: white;
}

.active, .dot:active{
    cursor: pointer;
    background-color: white;
}



/* content----------------------------------------- */
.first-card {
    padding: 5px;
    position: absolute;
    width: 965px;
    left: 15%;
    top: 20%;
}

.second-card {
    padding: 5px;
    position: absolute;
    width: 965px;
    left: 15%;
    top: 42%;
}

.third-card {
    padding: 5px;
    position: absolute;
    width: 965px;
    left: 15%;
    top: 64%;
}

.first-card img {
    width: 100%;
}

.second-card img {
    width: 100%;
}

.third-card img {
    width: 100%;
}

.col-md-8 p {
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.card-title:hover {
    cursor: pointer;
    color: red;
}

.card-title {
    display: inline-block;
}

/* Image zoom on hover + Overlay colour */
.parent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* Several different images-------------------------------------------------- */
.zet {
    z-index: 0;
}
.bg-one {
    background-image: url("img/4fe9428440d3031a72d8c0598049\ 1.png");
}
.bg-two {
    background-image: url("img/grilled-steak-today-tease-180216_89508b219dd455b4d43311782841f938\ 1.png");
}
.bg-three {
    background-image: url("img/image\ 1.png");
}
.bg-four {
    background-image: url("img/download\ 1.png");
}
.bg-five {
    background-image: url("img/Red\ Wine.png");
}
.bg-six {
    background-image: url("img/Burgundy.png");
}
.bg-seven {
    background-image: url("img/Bloody\ Mary.png");
}
.bg-eight {
    background-image: url("img/Blue\ Lagoon.png");
}
.bg-nine {
    background-image: url("img/Mojito.png");
}

.parent:hover .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(156, 186, 216, 0.4);
}


/* footer----------------------------------- */
footer {
    bottom: 5%;
    left: 4%;
    position: fixed;
}

.fab {
    font-size: 30px;
    color: red;
    padding-left: 10px;
    cursor: pointer;
}

.fab:hover {
    opacity: 0.3;
    transform: scale(1.2);
    transition: 0.4s;
}

.fab:nth-child(4) {
    font-size: 34px;
}


/* responsive----------------------------------- */
@media (max-width: 1650px){
    .first-card {
        width: 865px;
    }
    .second-card {
        width: 865px;
    }
    .third-card {
        width: 865px;
    }
}

@media (max-width: 1570px){
    .slideshow-container {
        max-width: 450px;
    }
    
    .mySlides img {
        border-radius: 700px 0 0 700px;
        width: 480px;
    }
}

@media (max-width: 1400px){
    .first-card {
        width: 800px;
        padding: 10px;
        left: 10%;
    }
    .second-card {
        width: 800px;
        padding: 10px;
        left: 10%;
    }
    .third-card {
        width: 800px;
        padding: 10px;
        left: 10%;
    }
}